<header class="sz-header is-{{include.nav}}">
    <div class="sz-header__background sz-header__background--inverted"></div>
    <div class="sz-header__about">
        <div class="sz-header__introduction">
            <a class="sz-header__icon" href="/" tabindex="-1">
                <img src="/blog/assets/icons/icon.jpg" alt="sizong" data-ignore="">
            </a>
            <h2>
                <a href="/">嗣宗</a>
            </h2>
            <p>剖竹十日间，一朝风化清。</p>
        </div>
        <nav class="sz-header__nav">
            <span class="sz-header__text">导航：</span>
            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ site.baseurl }}{{ item.link }}"
                       class="sz-header__item is-no-hover">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
