<header class="sz-header is-{{include.nav}}">
    <div id="background" class="sz-header__background
    sz-header__background--min
    sz-header__background--inverted"></div>
    <div class="sz-header__about">
        <div class="sz-header__introduction">
            <a class="sz-header__icon" href="{{ site.baseurl }}/" tabindex="-1">
                <img id="avatar" src="{{ site.baseurl }}/assets/icons/icon-min.jpg" alt="sizong" data-ignore="">
            </a>
            <h2>
                <a href="{{ site.baseurl }}/">嗣宗</a>
            </h2>
            <p>剖竹十日间，一朝风化清。</p>
        </div>
        <nav class="sz-header__nav">
            <span class="sz-header__text">导航：</span>
            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ site.baseurl }}{{ item.link }}"
                       class="sz-header__item is-no-hover">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <script>
        function setLocal(id, src, fn) {
            const $id = document.getElementById(id);
            let baseUrl = localStorage.getItem(`${id}Image`);
            if (!baseUrl) {
                const heavyImage = new Image();
                heavyImage.src = src;
                heavyImage.addEventListener('load', function () {
                    const imgCanvas = document.createElement('canvas');
                    const imgContext = imgCanvas.getContext('2d');
                    imgCanvas.width = heavyImage.width;
                    imgCanvas.height = heavyImage.height;
                    imgContext.drawImage(heavyImage, 0, 0, heavyImage.width, heavyImage.height);
                    var imgAsDataURL = imgCanvas.toDataURL();
                    try {
                        localStorage.setItem(`${id}Image`, imgAsDataURL);
                        fn($id, imgAsDataURL);
                    }
                    catch (e) {
                        console.log('Storage failed: ' + e);
                    }
                }, false);
            } else {
                fn($id, baseUrl);
            }
        }
        onReady(() => {
            if (localStorage.getItem('backgroundImage')) {
                document.getElementById('background').classList.remove('sz-header__background--min');
            }
            setLocal('background', '/blog/assets/img/bg.png', ($id, url) => {
                $id.style.backgroundImage = `url(${url})`;
            });
            setLocal('avatar', '/blog/assets/icons/icon.jpg', ($id, url) => {
                $id.src = url;
            });
        });
    </script>
</header>
