@import "mixins/mixins";

@include b(header) {
  $background-url: '/blog/assets/img/bg-min.png';
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.75);
  text-align: center;
  min-height: 100%;
  z-index: 2;

  a {
    color: #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.2);
  }

  @include e(background) {
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: $background-color;
    background-repeat: no-repeat;
    @include m(inverted) {
      filter: invert(32%);
    }
    @include m(min) {
      background-image: url($background-url);
    }
  }
  @include e(about) {
    position: relative;
    z-index: 3;
    max-width: 21rem;
    padding: 1.5rem;
    contain: content;

    @include e(introduction) {
      $width: 100px;
      @include e(icon) {
        outline: none;
        img {
          width: $width;
          height: $width;
          border-radius: 50%;
        }
      }
      h2 {
        margin-top: 0;
      }
    }

    @include e(nav) {
      ul {
        list-style: none;
        padding-left: 0;
      }

      @include e(text) {
        display: unset;
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      @include e(item) {
        display: inline-block;
        line-height: 1.75;
        padding: .25rem;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }
    }
  }

  &.is-left {
    $width: 25vw;
    height: 100%;
    width: $width;
    flex: 0 0 $width;
    @include e(background) {
      right: 0;
      width: $width;
      background-position: bottom right;
      background-size: auto 65vh;
    }
    @include e(about) {
      align-self: flex-start;
      padding-top: 15vh;
    }
  }
  &.is-home {
    @include e(background) {
      left: calc(50% - 50vw);
      width: 100vw;
      background-position: center;
      background-size: cover;
    }
  }
}
