@import "mixins/mixins";
@import "public";
@import "header";

@include b(container) {
  display: flex;
  height: 100%;
  color: $text-color;
  overflow: hidden;

  @include b(body) {
    height: 100%;
    flex: auto;
    background-color: $background-color;
    position: relative;
    padding: 20px 30px;
    overflow-y: auto;

    @include b(blog) {
      $spacing: 10px;
      @include e(list) {
        padding-top: $spacing;

        @include e(item) {
          padding-bottom: $spacing;
        }

        @include e(header) {
          a {
            color: #006699;
          }
        }

        @include e(date) {
          color: #556677;
          padding-top: .5em;
        }
      }
    }
  }
}


@mixin before() {
  $background-url: '/blog/assets/img/rightarrow.svg';
  content: '';
  position: absolute;
  top: 15px;
  right: 20px;
  width: 8px;
  height: 16px;
  background: url($background-url) no-repeat;
  background-size: contain;
}
@include b(category) {
  padding-bottom: 10px;
  h2 {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    &.is-arrow-up {
      &:before {
        @include before;
        transform: rotate(-90deg);
      }
    }
    &.is-arrow-down {
      &:before {
        @include before;
        transform: rotate(90deg);
      }
    }
  }
  @include e(total) {
    font-size: 12px;
    opacity: .8;
    font-weight: normal;
  }
}

@include b(tag) {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  border: 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  background-color: #f4f4f5;
  border-color: #e9e9eb;
  color: #909399;
  &.is-active {
    background-color: #ecf5ff;
    color: $title-color;
    border: 1px solid #d9ecff;
  }
}
