@import "mixins/mixins";
@import "public";
@import "header";

@include b(homepage) {
  $background-url: '/blog/assets/img/bg.png';
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.75);
  text-align: center;
  min-height: 100vh;
  z-index: 2;

  a {
    color: #fff;
    border-bottom-color: rgba(255,255,255,0.2);
  }

  @include e(background) {
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 100%;
    background: #202020 center / cover;
    background-image: url($background-url);

    @include m(inverted) {
      filter: invert(32%);
    }
  }
  @include e(about) {
    position: relative;
    z-index: 3;
    max-width: 21rem;
    padding: 1.5rem;
    contain: content;
  }
  @include e(introduction) {
    $width: 100px;
    @include e(icon) {
      img {
        width: $width;
        height: $width;
        border-radius: 50%;
      }
    }
    h2 {
      margin-top: 0;
    }
  }
  @include e(nav) {
    ul {
      list-style: none;
      padding-left: 0;
    }

    @include e(text) {
      display: unset;
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    @include e(item) {
      display: inline-block;
      line-height: 1.75;
      padding: .25rem;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }
}

@include b(container) {
  display: flex;
  height: 100%;
  color: $text-color;
  overflow: hidden;

  @include b(body) {
    height: 100%;
    flex: auto;
    background-color: $background-color;
    position: relative;
    padding: 20px 30px;
    overflow-y: auto;

    @include b(blog) {
      $spacing: 10px;
      @include e(list) {
        padding-top: $spacing;

        @include e(item) {
          padding-bottom: $spacing;
        }

        @include e(header) {
          a {
            color: #006699;
          }
        }

        @include e(date) {
          color: #556677;
          padding-top: .5em;
        }
      }
    }
  }
}
