html, body {
  overflow-x: hidden;
  height: 100%;
  background: rgb(240, 240, 240);
  font-family: Hiragino Sans GB, Microsoft YaHei;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  &.is-no-hover {
    transition: none;
    border-bottom: none;
    padding-bottom: 0;
  }
}

ul, ol {
  padding-left: 1.25rem;
}
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
