---
layout: structure
---
<div class="sz-blog">
    <h1 class="sz-blog__title">{{ page.title }}</h1>
    <p class="sz-blog__date sz-blog__date--noPadding">日期：{{ page.date | date: "%Y-%m-%d" }}</p>
    <p class="sz-blog__date sz-blog__date--noPadding">
        分类：
        {% for category in page.categories %}
        <a class="sz-blog__category" href="{{ site.baseurl }}/category#{{ category }}">{{ category }}</a>
        {% endfor %}
    </p>
    <p class="sz-blog__date">
        标签：
        {% for tag in page.tags %}
        <a class="sz-blog__tag" href="{{ site.baseurl }}/tag#{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </p>
    {{ content }}
</div>
